<div class="container" style="width: 500px;">
  <form action="/records" method="POST">
    <div class="my-5 row align-items-center">
      <div class="col-4 text-center">
        <p><i>*必填欄位</i></p>
      </div>
      <div class="col-8 text-center">
        <h3>請輸入你的支出</h3>
      </div>
    </div>

    <div class="my-5 row align-items-center">
      <div class="col-4 text-center">
        <label style="font-size: 1.2rem;" for="name">名稱*：</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="name" name="name" required>
      </div>
    </div>

    <div class="my-5 row align-items-center">
      <div class="col-4 text-center">
        <label style="font-size: 1.2rem;" for="date">日期*：</label>
      </div>
      <div class="col-8">
        <input type="date" class="form-control" id="date" name="date" required>
      </div>
    </div>

    <div class="my-5 row align-items-center">
      <div class="col-4 text-center">
        <label style="font-size: 1.2rem;" for="category">類別*：</label>
      </div>
      <div class="col-8">
        <select class="form-control" id="category" name="category" required>
          <option {{#is category '家居物業' }}selected{{/is}}>家居物業</option>
          <option {{#is category '交通出行' }}selected{{/is}}>交通出行</option>
          <option {{#is category '休閒娛樂' }}selected{{/is}}>休閒娛樂</option>
          <option {{#is category '餐飲食品' }}selected{{/is}}>餐飲食品</option>
          <option {{#is category '其他' }}selected{{/is}}>其他</option>
        </select>
      </div>
    </div>

    <div class="my-5 row align-items-center">
      <div class="col-4 text-center">
        <label style="font-size: 1.2rem;" for="amounnt">金額*：</label>
      </div>
      <div class="col-8">
        <input type="number" class="form-control" id="amount" name="amount" min="1" step="1" required>
      </div>
    </div>

    <div class="my-5 row align-items-center">
      <div class="col-4 text-center">
      </div>
      <div class="col-8">
        <button type="submit" class="btn btn-light btn-block">新增支出</button>
      </div>
    </div>
  </form>
</div>