<div class="container" style="width: 480px">
  <div class="mt-5 mb-4 row">
    <div class="col-12 text-center">
      <h3>請輸入你的支出</h3>
      <p class="text-danger"><i>*必填欄位</i></p>
    </div>
  </div>
  <form action="/records" method="POST">
    <div class="my-5 row">
      <div class="col-4 text-center rounded bg-white p-1" style="height: calc(2.25rem + 2px)">
        <label style="font-size: 1.2rem;" for="name">名稱*：</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control border-0" id="name" name="name" required>
      </div>
    </div>

    <div class="my-5 row">
      <div class="col-4 text-center rounded bg-white p-1" style="height: calc(2.25rem + 2px)">
        <label style="font-size: 1.2rem;" for="merchant">店家：</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control border-0" id="merchant" name="merchant">
      </div>
    </div>

    <div class="my-5 row">
      <div class="col-4 text-center rounded bg-white p-1" style="height: calc(2.25rem + 2px)">
        <label style="font-size: 1.2rem;" for="date">日期*：</label>
      </div>
      <div class="col-8">
        <input type="date" class="form-control border-0" id="date" name="date" required>
      </div>
    </div>

    <div class="my-5 row">
      <div class="col-4 text-center rounded bg-white p-1" style="height: calc(2.25rem + 2px)">
        <label style="font-size: 1.2rem;" for="category">類別*：</label>
      </div>
      <div class="col-8">
        <select class="form-control border-0" id="category" name="categoryId" required>
          {{#each category}}
          <option value={{this._id}}>{{ this.name }}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class="my-5 row">
      <div class="col-4 text-center rounded bg-white p-1" style="height: calc(2.25rem + 2px)">
        <label style="font-size: 1.2rem;" for="amount">金額*：</label>
      </div>
      <div class="col-8">
        <input type="number" class="form-control border-0" id="amount" name="amount" min="1" step="1" required>
      </div>
    </div>

    <div class="my-5 row">
      <div class="col-12">
        <button type="submit" class="btn btn-info btn-block mx-auto w-50 ">新增支出</button>
      </div>
    </div>
  </form>
</div>