.col-4 label {
  margin-bottom: 0!important
}

.record-row:nth-child(odd) {
    background-color: #ffefef;
}
.record-row:nth-child(even) {
    background-color: #ffffff;
}

.dropright .btn-secondary {
  border-radius: 0!important;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.fas {
  font-size: 1.5rem;
  color: #dd695b
}
