.col-4 label {
  margin-bottom: 0!important
}

.record-row:nth-child(odd) {
    background-color: #ffefef;
}
.record-row:nth-child(even) {
    background-color: #ffffff;
}

.fas {
  font-size: 1rem;
}

/* from W3School */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}