.col-4 label {
  margin-bottom: 0 !important;
}

.record-row:nth-child(odd) {
  background-color: #ffefef;
}

.record-row:nth-child(even) {
  background-color: #ffffff;
}

.category.fas {
  font-size: 1rem;
}

/* from W3School */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* in user login */
.social-block {
  position: relative;
}

.social-title {
  background-color: #eeeeee;
  font-size: 15px;
  font-style: italic;
  padding: 2px 10px;
  display: inline-block;
  position: absolute;
  top: -12px;
  left: 45.5%;
}

.social-title-sub {
  background-color: #eeeeee;
  font-size: 15px;
  font-style: italic;
  padding: 2px 10px;
  display: inline-block;
  position: absolute;
  bottom: -17px;
  left: 47%;
}

footer {
  width: 100%;
  height: 36px;
  position: fixed;
  left: 0;
  bottom: 0;
}

@keyframes record {
  from {
    opacity: 0;
    top: 20px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

.ani-record {
  position: relative;
  animation: record;
  animation-duration: 1s;
}
